$body-bg: #f7f7f7;
$footer-bg: #1d1e1e;
$footer-text-color: #fff;
$main: #1b8d4c;
$main-light: rgb(45, 134, 99);
$primary-color: #2c8351;
$secondary-txt: #828383;
$panel-bg: #fff;
$input-bg: #d1e1da;
$header-color: #fff;
$section-number-color: #e5e7e7;
$carousel-indicators: rgb(170, 170, 170);
$list-of-industries-input-background-color: #ecf1f3;
$white-txt: #fff;
$black-txt: #000;
$category-text-color: #3c3c3c;
$list-point-color: #9cd6b5;
$card-background: #e5eaee;
$video-background-color: #e1e1e1;
$mobile-date-text-color: #a2a2a2;
$mobile-footer-dialogue-color: #7f7f7f;
$footer-line-color: #575757;
$mobile-footer-background-color: #191c1d;
$light-grey-background: #f8f9fa;
$partners-line-color: #f2f4f5;
$discount-card-background: #2e3032;
$dark-menu: #151515;
$placeholder-color: #8b949c;
$background-first-part: #eff3f5;
$accordion-body-text-color: #696d72;
$bank-card-front: #32333b;
$bank-card-back: #188f4a;
$bank-card-back-line: #156d3f;
$bank-card-front-text-color: #8a8a8a;
$medium-black: #5d5e5e;
$news-page-header-background: #1e1f1f;
$tag-color: #adadad;