$bgblue:#283f5e;
$hoverblue:lighten(#4b6c5b, 10%);
$whitetxt:#fff;
$graytxt:#5f5f5f;
$blacktxt:#000;
$bluetxtlink:#223299;
$footrtxt:#00aeef;
$grayborder: #767a7e;
$lightgray:#e8e8e8;
$maseger: #a9c1cc;
$buttonblue:#00aeed;
$redBtn: #d63805;
$bgfooter:#021422;

$summaryHdr: #323232;
$summaryLp: #0e4678;
$summaryMp: #1261a7;

$main: #4b6c5b;
$second: #d1d3d4;
$second-dark: #a7a9ac;
$hover-main:lighten(#4b6c5b, 10%);