$main-bg: #E5E5E5;
$main-green: #008c5e;
$green-logo: #33835C;
$green-accent: #000000;
$black-logo: #1EC28B;
$blue-dark: #011533;
$white-dark: #F5F6F8;
$white: #FFFFFF;
$grey: #BABABA;
$black: #151515;
$footer-color: #38547F;
$new_grey:  #F4F4F4;
