@extends('redesign.layouts.app')

@section('title', 'UPPERLICENSE - Главная')

@section('content')
    <div class="first">
        <div class="container">
            <div class="row">
                <div class="first__title">
                    Мгновенный старт для вашего бизнеса в Казахстане
                </div>
                <div class="first__slider__wrap">
                    <div class="swiper first__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="first__slider__block">
                                    <div class="first__slider__block__green">
                                        <div class="first__slider__block__title">UPPERLICENSE: Идеальное решение для регистрации вашего бизнеса в РК</div>
                                        <div class="first__slider__block__descr">Полная автоматизация и удобство управления — откройте новые возможности для вашего бизнеса в Казахстане с нашей инновационной онлайн-платформой!</div>
                                        <a href="#" class="first__slider__block__link">Начать регистрацию</a>
                                        <div class="first__slider__items__wrap">
                                            <div class="first__slider__counter">
                                                <span class="current">01</span> / <span class="total">04</span>
                                            </div>
                                            <div class="first__slider__arrows">
                                                <div class="prev"><img src="{{asset('assets/img/icon-left-arrow.svg')}}" alt=""></div>
                                                <div class="next"><img src="{{asset('assets/img/icon-right-arrow.svg')}}" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first__slider__block__bg">
                                        <img src="{{asset('assets/img/image-slider-1.png')}}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="first__slider__block">
                                    <div class="first__slider__block__green">
                                        <div class="first__slider__block__title">Гарантируйте стабильный рост вашего бизнеса в эпоху перемен с экспертной поддержкой UPPERLICENSE</div>
                                        <div class="first__slider__block__descr">Высококлассное юридическое и бухгалтерское сопровождение от UPPERLICENSE — ваш надежный фундамент для стойкости и прогресса вашей компании</div>
                                        <a href="#" class="first__slider__block__link">Начать регистрацию</a>
                                        <div class="first__slider__items__wrap">
                                            <div class="first__slider__counter">
                                                <span class="current">02</span> / <span class="total">04</span>
                                            </div>
                                            <div class="first__slider__arrows">
                                                <div class="prev"><img src="{{asset('assets/img/icon-left-arrow.svg')}}" alt=""></div>
                                                <div class="next"><img src="{{asset('assets/img/icon-right-arrow.svg')}}" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first__slider__block__bg">
                                        <img src="{{asset('assets/img/image-slider-2.png')}}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="first__slider__block">
                                    <div class="first__slider__block__green">
                                        <div class="first__slider__block__title">Получите вашу рабочую и бизнес-визу в Казахстане легко и надежно с UPPERLICENSE. Быстро, эффективно, без хлопот</div>
                                        <div class="first__slider__block__descr">Оперативное оформление виз С3 и С5 — максимальная скорость, минимальные сроки</div>
                                        <a href="#" class="first__slider__block__link">Начать регистрацию</a>
                                        <div class="first__slider__items__wrap">
                                            <div class="first__slider__counter">
                                                <span class="current">03</span> / <span class="total">04</span>
                                            </div>
                                            <div class="first__slider__arrows">
                                                <div class="prev"><img src="{{asset('assets/img/icon-left-arrow.svg')}}" alt=""></div>
                                                <div class="next"><img src="{{asset('assets/img/icon-right-arrow.svg')}}" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first__slider__block__bg">
                                        <img src="{{asset('assets/img/image-slider-3.png')}}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="first__slider__block">
                                    <div class="first__slider__block__green">
                                        <div class="first__slider__block__title">UPPERLICENSE: Ваш ключ к беспроблемному лицензированию</div>
                                        <div class="first__slider__block__descr">Надежное сопровождение вашего процесса лицензирования «под ключ», усиленное базой данных и индивидуально адаптированным личным кабинетом для вашего максимального комфорта и удобства</div>
                                        <a href="#" class="first__slider__block__link">Начать регистрацию</a>
                                        <div class="first__slider__items__wrap">
                                            <div class="first__slider__counter">
                                                <span class="current">04</span> / <span class="total">04</span>
                                            </div>
                                            <div class="first__slider__arrows">
                                                <div class="prev"><img src="{{asset('assets/img/icon-left-arrow.svg')}}" alt=""></div>
                                                <div class="next"><img src="{{asset('assets/img/icon-right-arrow.svg')}}" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="first__slider__block__bg">
                                        <img src="{{asset('assets/img/image-slider-4.png')}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second">
        <div class="container">
            <div class="row">
                <div class="second__title">Преимущества работы с UPPERLICENSE</div>
                <div class="second__wrap">
                    <div class="col-md-6 col-12 col-sm-12 col-xs-12 col-xl-3 col-lg-3">
                        <div class="second__block">
                            <div class="second__block__img">
                                <img src="{{asset('assets/img/Image-Features-01.png')}}" alt="">
                            </div>
                            <div class="second__block__wrap">
                                <div class="second__block__number">01</div>
                                <div class="second__block__title">Контроль и инновации</div>
                                <div class="second__block__descr">Уникальная онлайн-панель управления для вашего бизнеса</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-sm-12 col-xs-12 col-xl-3 col-lg-3">
                        <div class="second__block">
                            <div class="second__block__img">
                                <img src="{{asset('assets/img/Image-Features-02.png')}}" alt="">
                            </div>
                            <div class="second__block__wrap">
                                <div class="second__block__number">02</div>
                                <div class="second__block__title">Экспертность</div>
                                <div class="second__block__descr">Полный спектр квалифицированной поддержки для вашего бизнеса</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-sm-12 col-xs-12 col-xl-3 col-lg-3">
                        <div class="second__block">
                            <div class="second__block__img">
                                <img src="{{asset('assets/img/Image-Features-03.png')}}" alt="">
                            </div>
                            <div class="second__block__wrap">
                                <div class="second__block__number">03</div>
                                <div class="second__block__title">Удобство и доступность</div>
                                <div class="second__block__descr">Персональный онлайн-кабинет и актуальная база данных</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 col-sm-12 col-xs-12 col-xl-3 col-lg-3">
                        <div class="second__block">
                            <div class="second__block__img">
                                <img src="{{asset('assets/img/Image-Features-04.png')}}" alt="">
                            </div>
                            <div class="second__block__wrap">
                                <div class="second__block__number">04</div>
                                <div class="second__block__title">Устойчивость и развитие</div>
                                <div class="second__block__descr">Фундамент для долгосрочного партнерства, поддержка вашего бизнеса на каждом этапе</div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="second__button">Узнать всё о платформе</a>
            </div>
        </div>
    </div>
    <div class="third">
        <div class="container">
            <div class="row">
                <div class="third__title__wrap">
                    <div class="third__title">Уже выбрали вашу <span class="green">сферу</span> деятельности?</div>
                    <div class="third__arrow">
                        <div class="third__arrow__prev">
                            <img src="{{asset('assets/img/ic-arrow-prev-black.svg')}}" alt="">
                        </div>
                        <div class="third__arrow__next">
                            <img src="{{asset('assets/img/ic-arrow-next-black.svg')}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="third__wrap swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide third__slider__item">
                            <div class="third__slider__item__title">
                                Строительство
                            </div>
                            <div class="third__slider__item__link__wrapper">
                                <a href="#" class="third__slider__item__link">Строительные работы</a>
                                <a href="#" class="third__slider__item__link">Контроль СР</a>
                                <div class="third__slider__item__link__green">+2</div>
                            </div>
                        </div>
                        <div class="swiper-slide third__slider__item">
                            <div class="third__slider__item__title">
                                Промышленность
                            </div>
                            <div class="third__slider__item__link__wrapper">
                                <a href="#" class="third__slider__item__link">Энергетика</a>
                                <a href="#" class="third__slider__item__link">Добыча полезных ископаемых</a>
                                <div class="third__slider__item__link__green">+4</div>
                            </div>
                        </div>
                        <div class="swiper-slide third__slider__item">
                            <div class="third__slider__item__title">
                                Импорт-экспорт
                            </div>
                            <div class="third__slider__item__link__wrapper">
                                <a href="#" class="third__slider__item__link">Таможенные процендуры</a>
                                <a href="#" class="third__slider__item__link">Траспорт</a>
                                <div class="third__slider__item__link__green">+3</div>
                            </div>
                        </div>
                        <div class="swiper-slide third__slider__item">
                            <div class="third__slider__item__title">
                                Медицина
                            </div>
                            <div class="third__slider__item__link__wrapper">
                                <a href="#" class="third__slider__item__link">Медицинское оборудование</a>
                                <a href="#" class="third__slider__item__link">Фарм. индустрия</a>
                                <div class="third__slider__item__link__green">+4</div>
                            </div>
                        </div>
                        <div class="swiper-slide third__slider__item">
                            <div class="third__slider__item__title">
                                Сельское хозяйство
                            </div>
                            <div class="third__slider__item__link__wrapper">
                                <a href="#" class="third__slider__item__link">Выращивание растений</a>
                                <a href="#" class="third__slider__item__link">С-х услуги</a>
                                <div class="third__slider__item__link__green">+4</div>
                            </div>
                        </div>
                        <div class="swiper-slide third__slider__item">
                            <div class="third__slider__item__title">
                                Культура
                            </div>
                            <div class="third__slider__item__link__wrapper">
                                <a href="#" class="third__slider__item__link">Кинематограф</a>
                                <a href="#" class="third__slider__item__link">Искусство</a>
                                <div class="third__slider__item__link__green">+4</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="third__footer">
                    <div class="third__footer__title">Делаем процесс лицензирования легким и доступным!</div>
                    <a href="#" class="third__button">Оформить заявку</a>
                </div>
            </div>
        </div>
    </div>
    <div class="fourth">
        <div class="container">
            <div class="row fourth__wrap">
                <div class="fourth__title">Предоставляем качественные и комплексные <span class="green">решения</span> для вашего бизнеса</div>
                <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-xs-12 fourth__block__items">
                    <div class="fourth__block__items__text">
                        <div class="fourth__block__items__text__title">Регистрация компании</div>
                        <ul class="fourth__block__items__text__list">
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Подготовка учредительных документов филиала/представительств</li>
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Сдача документов в регистрирующий орган</li>
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Заполнение формы на регистрацию</li>
                        </ul>
                    </div>
                    <a href="#" class="fourth__block__items__btn">
                        Оформить заявку
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-xs-12 fourth__block__items">
                    <div class="fourth__block__items__text">
                        <div class="fourth__block__items__text__title">Регистрация компаний в СЭЗ и МФЦА</div>
                        <ul class="fourth__block__items__text__list">
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Регистрация в качестве участника Astana Hub International Technology Park</li>
                        </ul>
                    </div>
                    <a href="#" class="fourth__block__items__btn">
                        Оформить заявку
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-xs-12 fourth__block__items">
                    <div class="fourth__block__items__text">
                        <div class="fourth__block__items__text__title">Открытие банковских счетов</div>
                        <ul class="fourth__block__items__text__list">
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Сбор документов</li>
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Подавка заявки на открытие счета</li>
                        </ul>
                    </div>
                    <a href="#" class="fourth__block__items__btn">
                        Оформить заявку
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-xs-12 fourth__block__items">
                    <div class="fourth__block__items__text">
                        <div class="fourth__block__items__text__title">Лицензирование</div>
                        <ul class="fourth__block__items__text__list">
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Получение лицензий и разрешительных документов для всех видов деятельности</li>
                        </ul>
                    </div>
                    <a href="#" class="fourth__block__items__btn">
                        Оформить заявку
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-xs-12 fourth__block__items">
                    <div class="fourth__block__items__text">
                        <div class="fourth__block__items__text__title">Получение визы С3 и С5</div>
                        <ul class="fourth__block__items__text__list">
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Сбор документов и оформление приглашения</li>
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Оформление визы в консульстве РК</li>
                        </ul>
                    </div>
                    <a href="#" class="fourth__block__items__btn">
                        Оформить заявку
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-xs-12 fourth__block__items">
                    <div class="fourth__block__items__text">
                        <div class="fourth__block__items__text__title">Предоставление отраслевого юриста</div>
                        <ul class="fourth__block__items__text__list">
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Услуги юриста на аутсорсинге для вашего бизнеса</li>
                        </ul>
                    </div>
                    <a href="#" class="fourth__block__items__btn">
                        Оформить заявку
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-xs-12 fourth__block__items">
                    <div class="fourth__block__items__text">
                        <div class="fourth__block__items__text__title">Бухгалтерский аутсорсинг</div>
                        <ul class="fourth__block__items__text__list">
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Подписание документов в банке (работа с менеджером банка)</li>
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Сбор данных клиентов</li>
                        </ul>
                    </div>
                    <a href="#" class="fourth__block__items__btn">
                        Оформить заявку
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-xl-6 col-lg-6 col-xs-12 fourth__block__items">
                    <div class="fourth__block__items__text">
                        <div class="fourth__block__items__text__title">Дополнительные услуги</div>
                        <ul class="fourth__block__items__text__list">
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Получение ИИН, БИН</li>
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Получение ЭЦП</li>
                            <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Оформление РВП</li>
                        </ul>
                    </div>
                    <a href="#" class="fourth__block__items__btn">
                        Оформить заявку
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="fifth">
        <div class="container">
            <div class="row">
                <div class="about-us__stats__wrap">
                    <table class="stats-table">
                        <tr>
                            <td colspan="5" class="top-cell">
                                <div class="top-inner">
                                    <div class="top-inner__title__left">О группе UPPERCASE</div>
                                    <div class="top-inner__title__right">
                                        <div class="top-inner__title__right__green">
                                            3000+
                                        </div>
                                        <div class="top-inner__title__right__descr">
                                            Клиентов в области регистрации, лицензирования, сопровождения международных сделок и корпоративного права
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bottom-inner">
                                <div class="bottom-inner__title">
                                    13+ лет
                                </div>
                                <div class="bottom-inner__descr">
                                    На рынке юридических услуг и консалтинга
                                </div>
                            </td>
                            <td class="bottom-inner">
                                <div class="bottom-inner__title">
                                    6
                                </div>    
                                <div class="bottom-inner__descr">
                                    Филиалов в ОАЭ и РК
                                </div>
                            </td>
                            <td class="bottom-inner">
                                <div class="bottom-inner__title">
                                    IT-решения
                                </div>    
                                <div class="bottom-inner__descr">
                                    В области юридических услуг и консалтинга
                                </div>
                            </td>
                            <td class="bottom-inner">
                                <div class="bottom-inner__title">
                                    500+
                                </div>    
                                <div class="bottom-inner__descr">
                                    Успешно завершенных проектов
                                </div>
                            </td>
                            <td class="bottom-inner">
                                <div class="bottom-inner__title">
                                    300+
                                </div>    
                                <div class="bottom-inner__descr">
                                    Опытных специалистов в команде
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="fifth__list">
                        <div class="fifth__list__title">О группе UPPERCASE</div>
                        <div class="fifth__list__block">
                            <div class="fifth__list__block__title green">3000+</div>
                            <div class="fifth__list__block__descr">
                                Клиентов в области регистрации, лицензирования, сопровождения международных сделок и корпоративного права
                            </div>
                        </div>
                        <div class="fifth__list__block__wrap__first">
                            <div class="fifth__list__block">
                                <div class="fifth__list__block__title">13+ лет</div>
                                <div class="fifth__list__block__descr">
                                    На рынке юридических услуг и консалтинга
                                </div>
                            </div>
                            <div class="fifth__list__block">
                                <div class="fifth__list__block__title">6</div>
                                <div class="fifth__list__block__descr">
                                    Филиалов в ОАЭ и РК
                                </div>
                            </div>
                        </div>
                        <div class="fifth__list__block__wrap__second">
                            <div class="fifth__list__block">
                                <div class="fifth__list__block__title">IT-решения</div>
                                <div class="fifth__list__block__descr">
                                    В области юридических услуг и консалтинга
                                </div>
                            </div>
                        </div>
                        <div class="fifth__list__block__wrap__third">
                            <div class="fifth__list__block">
                                <div class="fifth__list__block__title">500+</div>
                                <div class="fifth__list__block__descr">
                                    Успешно завершенных проектов
                                </div>
                            </div>
                            <div class="fifth__list__block">
                                <div class="fifth__list__block__title">300+</div>
                                <div class="fifth__list__block__descr">
                                    Опытных специалистов в команде
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sixth">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-xl-6 col-lg-6 col-xs-12 sixth__block__wrap">
                    <div class="sixth__block">
                        <div class="sixth__block__text">
                            <div class="sixth__block__title">Пользователю портала предоставляется простой и удобный личный кабинет</div>
                            <ul class="sixth__block__list">
                                <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Отслеживание статус заказанных услуг</li>
                                <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Создание надежного архива ваших документов </li>
                                <li><img src="{{asset('assets/img/ic-chek.svg')}}" alt="">Получение специализированных отраслевых услуг</li>
                            </ul>
                        </div>
                        <a href="#" class="sixth__block__btn">Получить консультацию</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-xl-6 col-lg-6 col-xs-12 sixth__block__wrap">
                    <div class="sixth__block__gray"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="seventh">
        <div class="container">
            <div class="row">
                <div class="seventh__title__wrap">
                    <div class="seventh__title">Кейсы наших клиентов</div>
                    <div class="seventh__arrow">
                        <div class="seventh__arrow__prev">
                            <img src="{{asset('assets/img/ic-arrow-prev-black.svg')}}" alt="">
                        </div>
                        <div class="seventh__arrow__next">
                            <img src="{{asset('assets/img/ic-arrow-next-black.svg')}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-xl-5 col-lg-5 col-xs-12">
                    <div class="seventh__block">
                        <div class="seventh__block__title">Розничная торговля путём заказа товаров по почте</div>
                        <div class="seventh__block__content">
                            <div class="seventh__block__content__img">
                                <img src="{{asset('assets/img/technicol.png')}}" alt="">
                            </div>
                            <div class="seventh__block__content__block">
                                <div class="seventh__block__content__block__title">Технониколь</div>
                                <div class="seventh__block__content__block__descr">Производитель строительных материалов и систем</div>
                            </div>
                        </div>
                        <a href="#" class="seventh__block__btn">
                            Смотреть видео-отзыв
                            <img src="{{asset('assets/img/play.png')}}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-xl-7 col-lg-7 col-xs-12">
                    <div class="seventh__list">
                        <div class="seventh__list__gray">
                            <div class="seventh__list__gray__title">Входные параметры</div>
                            <ul class="seventh__list__gray__list">
                                <li>
                                    <img src="{{asset('assets/img/ic-chek.svg')}}" alt="">
                                    <div>В короткие сроки (7 рабочих дней) получить лицензию на проведение строительно-монтажных работ 1 категории.</div>
                                </li>
                                <li>
                                    <img src="{{asset('assets/img/ic-chek.svg')}}" alt="">
                                    <div>Получить консультирование отраслевого юриста по квалификационным требованиям и нормативно-правовым актам в сфере строительства.</div>
                                </li>
                            </ul>
                        </div>
                        <div class="seventh__list__gray">
                            <div class="seventh__list__gray__title">Решение</div>
                            <ul class="seventh__list__gray__list">
                                <li>
                                    <img src="{{asset('assets/img/ic-chek.svg')}}" alt="">
                                    <div>Получение консультации отраслевого юриста. Консультация опытного юриста по вопросам квалификационных требований и нормативно-правовых актов в сфере строительства.</div>
                                </li>
                                <li>
                                    <img src="{{asset('assets/img/ic-chek.svg')}}" alt="">
                                    <div>Советы и рекомендации по подготовке документов и прохождению процедуры лицензирования.</div>
                                </li>
                                <li>
                                    <img src="{{asset('assets/img/ic-chek.svg')}}" alt="">
                                    <div>Подготовка необходимого пакета документов</div>
                                </li>
                            </ul>
                            <a class="seventh__list__gray__btn" href="#">Показать полностью</a>
                        </div>
                        <div class="seventh__list__green">
                            <div class="seventh__list__green__title">Результат</div>
                            <ul class="seventh__list__green__list">
                                <li>
                                    <img src="{{asset('assets/img/ic-chek.svg')}}" alt="">
                                    <div>
                                        В результате успешной реализации этого кейса, компания смогла получить лицензию на проведение строительно-монтажных работ 1 категории в короткие сроки, а также получила консультацию отраслевого юриста, что позволило ей эффективно соблюсти все требования и нормативы в сфере строительства
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eighteth">
        <div class="container">
            <div class="row">
                <div class="eighteth__title__wrap">
                    <div class="eighteth__title">Нам доверяют</div>
                    <div class="eighteth__arrow">
                        <div class="eighteth__arrow__prev">
                            <img src="{{asset('assets/img/ic-arrow-prev-black.svg')}}" alt="">
                        </div>
                        <div class="eighteth__arrow__next">
                            <img src="{{asset('assets/img/ic-arrow-next-black.svg')}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="eighteth__wrap swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide eighteth__slider__item">
                            <img src="{{asset('assets/img/image 48.png')}}" alt="">
                        </div>
                        <div class="swiper-slide eighteth__slider__item">
                            <img src="{{asset('assets/img/image 49.png')}}" alt="">
                        </div>
                        <div class="swiper-slide eighteth__slider__item">
                            <img src="{{asset('assets/img/image 50.png')}}" alt="">
                        </div>
                        <div class="swiper-slide eighteth__slider__item">
                            <img src="{{asset('assets/img/image 53.png')}}" alt="">
                        </div>
                        <div class="swiper-slide eighteth__slider__item">
                            <img src="{{asset('assets/img/image 48.png')}}" alt="">
                        </div>
                        <div class="swiper-slide eighteth__slider__item">
                            <img src="{{asset('assets/img/image 49.png')}}" alt="">
                        </div>
                        <div class="swiper-slide eighteth__slider__item">
                            <img src="{{asset('assets/img/image 50.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nineth">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-xl-5 col-lg-5 col-xs-12">
                    <div class="nineth__title">Свяжитесь с нами</div>
                    <div class="nineth__descr">Предоставимтбыстрое и эффективное открытие и ведение бизнеса в Казахстане</div>
                </div>
                <div class="col-12 col-sm-12 col-xl-7 col-lg-7 col-xs-12">
                    <div class="nineth__form">
                        <div class="nineth__form__input">
                            <label for="name">
                                Представьтесь пожалуйста
                            </label>
                            <input id="name" placeholder="Ф.И.О" type="text" />
                        </div>
                        <div class="nineth__form__input">
                            <label class="form-label">Услуга</label>
                            <select class="form-select">
                                <option value="">Выберите услугу</option>
                                <option value="licensing">Лицензирование</option>
                                <option value="registration">Регистрация компании</option>
                                <option value="legal">Юридическое сопровождение</option>
                                <option value="accounting">Бухгалтерия</option>
                            </select>
                        </div>
                        <div class="nineth__form__input">
                            <label for="email">
                                Электронная почта
                            </label>
                            <input id="email" placeholder="example@gmail.com" type="text" />
                        </div>
                        <div class="nineth__form__input">
                            <label for="phone">
                                Телефон
                            </label>
                            <input id="phone" type="text" />
                        </div>
                        <div class="nineth__form__textarea">
                            <label for="comment">
                                Комментарий
                            </label>
                            <textarea id="comment"></textarea>
                        </div>
                        <div class="nineth__form__footer">
                            <a class="nineth__form__footer__btn" href="#">Получить консультацию</a>
                            <div class="ninth__form__warn">Нажимая на кнопку, я соглашаюсь на обработку персональных данных </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ten">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-xl-5 col-lg-5 col-xs-12">
                    <div class="ten__title">Ответы на вопросы</div>
                </div>
                <div class="col-12 col-sm-12 col-xl-7 col-lg-7 col-xs-12">
                    <div class="ten__accordion">
                        <div class="ten__accordion-item">
                          <button class="ten__accordion-header">
                            Каковы сроки регистрации бизнеса в Казахстане?
                            <span class="icon">+</span>
                          </button>
                          <div class="ten__accordion-content">
                            <p>Предоставим  быстрое и эффективное открытие и ведение бизнеса в Казахстане. В остальных случаях расчетный счет можно открыть за один день. Сразу после подачи заявки вы получите реквизиты и сможете выставлять счета на оплату. После встречи с представителем банка появится возможность принимать деньги и совершать исходящие платежи.</p>
                          </div>
                        </div>
                      
                        <div class="ten__accordion-item">
                          <button class="ten__accordion-header">
                            Какие основные требования для регистрации компании в Казахстане?
                            <span class="icon">+</span>
                          </button>
                          <div class="ten__accordion-content">
                            <p>Предоставим  быстрое и эффективное открытие и ведение бизнеса в Казахстане. В остальных случаях расчетный счет можно открыть за один день. Сразу после подачи заявки вы получите реквизиты и сможете выставлять счета на оплату. После встречи с представителем банка появится возможность принимать деньги и совершать исходящие платежи.</p>
                          </div>
                        </div>

                        <div class="ten__accordion-item">
                            <button class="ten__accordion-header">
                                Какие документы понадобятся для регистрации юридического лица в Казахстане?
                              <span class="icon">+</span>
                            </button>
                            <div class="ten__accordion-content">
                              <p>Предоставим  быстрое и эффективное открытие и ведение бизнеса в Казахстане. В остальных случаях расчетный счет можно открыть за один день. Сразу после подачи заявки вы получите реквизиты и сможете выставлять счета на оплату. После встречи с представителем банка появится возможность принимать деньги и совершать исходящие платежи.</p>
                            </div>
                        </div>

                        <div class="ten__accordion-item">
                            <button class="ten__accordion-header">
                                Можно ли в казахстанском банке открыть счет для ИП удаленно?
                              <span class="icon">+</span>
                            </button>
                            <div class="ten__accordion-content">
                              <p>Предоставим  быстрое и эффективное открытие и ведение бизнеса в Казахстане. В остальных случаях расчетный счет можно открыть за один день. Сразу после подачи заявки вы получите реквизиты и сможете выставлять счета на оплату. После встречи с представителем банка появится возможность принимать деньги и совершать исходящие платежи.</p>
                            </div>
                        </div>
                        
                        <div class="ten__accordion-item">
                            <button class="ten__accordion-header">
                                Какие налоги потребуется платить в Казахстане?
                              <span class="icon">+</span>
                            </button>
                            <div class="ten__accordion-content">
                              <p>Предоставим  быстрое и эффективное открытие и ведение бизнеса в Казахстане. В остальных случаях расчетный счет можно открыть за один день. Сразу после подачи заявки вы получите реквизиты и сможете выставлять счета на оплату. После встречи с представителем банка появится возможность принимать деньги и совершать исходящие платежи.</p>
                            </div>
                        </div>

                        <div class="ten__accordion-item">
                            <button class="ten__accordion-header">
                                Как долго обычно занимает процесс получения разрешений в стране?
                              <span class="icon">+</span>
                            </button>
                            <div class="ten__accordion-content">
                              <p>Предоставим  быстрое и эффективное открытие и ведение бизнеса в Казахстане. В остальных случаях расчетный счет можно открыть за один день. Сразу после подачи заявки вы получите реквизиты и сможете выставлять счета на оплату. После встречи с представителем банка появится возможность принимать деньги и совершать исходящие платежи.</p>
                            </div>
                        </div>

                        <div class="ten__accordion-item">
                            <button class="ten__accordion-header">
                                Какие отрасли и виды деятельности подлежат обязательной лицензированию в Казахстане?
                              <span class="icon">+</span>
                            </button>
                            <div class="ten__accordion-content">
                              <p>Предоставим  быстрое и эффективное открытие и ведение бизнеса в Казахстане. В остальных случаях расчетный счет можно открыть за один день. Сразу после подачи заявки вы получите реквизиты и сможете выставлять счета на оплату. После встречи с представителем банка появится возможность принимать деньги и совершать исходящие платежи.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eleven">
        <div class="container">
            <div class="row">
                <div class="eleven__title__wrap">
                    <div class="eleven__title">UPPERLICENSE RoadMap</div>
                    <div class="eleven__arrow">
                        <div class="eleven__arrow__prev">
                            <img src="{{asset('assets/img/ic-arrow-prev-black.svg')}}" alt="">
                        </div>
                        <div class="eleven__arrow__next">
                            <img src="{{asset('assets/img/ic-arrow-next-black.svg')}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="roadmap">
                    <div class="roadmap-timeline">
                        <div class="roadmap-milestone completed">
                            <div class="roadmap-milestone-content">
                                <span class="roadmap-year">2023</span>
                                <span class="roadmap-date">20 декабря</span>
                            </div>
                            <div class="roadmap-dot"></div>
                        </div>
        
                        <div class="roadmap-milestone">
                            <div class="roadmap-milestone-content">
                                <span class="roadmap-year">2024</span>
                                <span class="roadmap-date">20 января</span>
                            </div>
                            <div class="roadmap-dot"></div>
                        </div>
        
                        <div class="roadmap-milestone">
                            <div class="roadmap-milestone-content">
                                <span class="roadmap-year">2024</span>
                                <span class="roadmap-date">26 января</span>
                            </div>
                            <div class="roadmap-dot"></div>
                        </div>
                        <div class="roadmap-milestone">
                            <div class="roadmap-milestone-content">
                                <span class="roadmap-year">2024</span>
                                <span class="roadmap-date">30 января</span>
                            </div>
                            <div class="roadmap-dot"></div> 
                        </div>
                    </div>
        
                    <div class="roadmap-cards">
                        <div class="roadmap-card">
                            <img class="roadmap-card-icon" src="{{asset('assets/img/roadmap_1.png" alt="Запуск MVP" />
                            <h4 class="roadmap-card-title">Запуск MVP</h4>
                            <div class="tooltip-container">
                                <img class="roadmap-card-info" src="{{asset('assets/img/info_circle.png')}}" alt="">
                                <div class="tooltip-text tooltip-text__1">
                                    <ul>
                                        <li>Исследование и анализ рынка</li>
                                        <li>Разработка новых продуктов или услуг</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
        
                        <div class="roadmap-card">
                            <img class="roadmap-card-icon" src="{{asset('assets/img/roadmap_2.png" alt="Расширение перечня услуг" />
                            <h4 class="roadmap-card-title">Расширение перечня услуг</h4>
                            <img class="roadmap-card-info" src="{{asset('assets/img/info_circle.png')}}" alt="">
                            <div class="tooltip-text tooltip-text__2">
                                <ul>
                                    <li>Исследование и анализ рынка</li>
                                    <li>Разработка новых продуктов или услуг</li>
                                </ul>
                            </div>
                        </div>
        
                        <div class="roadmap-card">
                            <img class="roadmap-card-icon" src="{{asset('assets/img/roadmap_3.png" alt="Упрощенная оплата" />
                            <h4 class="roadmap-card-title">Упрощенная оплата</h4>
                            <img class="roadmap-card-info" src="{{asset('assets/img/info_circle.png')}}" alt="">
                            <div class="tooltip-text tooltip-text__3">
                                <ul>
                                    <li>Интеграция с платежными системами</li>
                                    <li>Разработка удобного интерфейса для безопасных онлайн-платежей</li>
                                    <li>Обеспечение безопасности данных клиентов</li>
                                </ul>
                            </div>
                        </div>
        
                        <div class="roadmap-card">
                            <img class="roadmap-card-icon" src="{{asset('assets/img/roadmap_4.png" alt="Реферальная система" />
                            <h4 class="roadmap-card-title">Реферальная система</h4>
                            <img class="roadmap-card-info" src="{{asset('assets/img/info_circle.png')}}" alt="">
                            <div class="tooltip-text tooltip-text__4">
                                <ul>
                                    <li>Программа лояльности для клиентов</li>
                                    <li>Механизмы отслеживания рефералов и начисления бонусов за привлечение клиентов</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@endsection