.bg_white {
  background-color: #ffffff;
}

#app {
  padding-top: 136px;
}

.header-new__language_dropdown .submenu {
  position: absolute;
  padding: 10px 13px;
  top: 100%;
  left: 0;
  width: 6rem;
  justify-content: center !important;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 0.5rem;

  & li {
    margin-bottom: 0.2rem;
  }
}

.footer__language_dropdown .submenu {
  z-index: 10;
  padding: 10px 13px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 7rem;
  justify-content: center;
  transition: .5s ease-in-out;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 0.5rem;

  & li {
    margin-bottom: 0.2rem;
  }
}

.documents .container {
  padding-left: 32px;
  padding-right: 32px;
}

.documents__window {
  font-family: 'Manrope';
  font-style: normal;

  width: 100% !important;
  padding: 0 !important;
  min-height: auto !important;

  &_layout {
    &_info {
      margin-top: 85px;
      margin-bottom: 85px;
    }

    &_access {
      margin-bottom: 65px;
    }

    &_useful {
      margin-bottom: 65px;
    }
  }

  &_cards {
    & .card-layout {
      height: 100%;
      padding-bottom: 15px;
    }

    & .card-container {
      height: 100%;
      margin-bottom: 0;

      position: relative;
      overflow: hidden;

      width: 100% !important;
      padding: 40px 40px 45px;
      justify-content: start;
      background: #F5F6F8;
      border-radius: 15px;
      border: 0;
      cursor: pointer;

      &__active {
        background: #37825D;

        & .documents__window_category_number {
          background: #FFFFFF;
          color: #37825D;
        }

        & .documents__window_category_layout {
          color: #FFFFFF;
        }
      }
    }
  }

  &_title {
    &-head {
      font-weight: 600;
      font-size: 48px;
      line-height: 66px;
      letter-spacing: -0.03em;
      color: #000000;
    }

    &-description {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      color: #000000;
      opacity: 0.87;
    }

    &-access {
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: -0.03em;
      color: #000000;
    }

    &-card_head {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      letter-spacing: -0.02em;

      color: #000000;
    }
  }

  &_cards .card {
    width: 100% !important;
    padding: 40px 40px 45px;
    justify-content: start !important;
    margin-bottom: 0 !important;
    background: #F5F6F8 !important;
    border-radius: 15px;
    border: 0;
  }

  &_category {
    &_number {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.02em;

      text-align: left;


      width: 42px;
      height: 42px;

      background: #37825D;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 34px;
    }

    &_layout {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: -0.02em;

      color: #000000;
    }
  }

  &_useful {
    height: auto;
    padding: 0 !important;

    &_item {
      max-width: none;
      height: 100%;
      background: #FFFFFF;
      border: 1px solid #BAC0CE;
      border-radius: 15px;

      margin-bottom: 0;
      padding: 35px 40px 40px !important;
      overflow: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      &-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: -0.02em;
        color: #000000;
        margin-bottom: 27px;
      }

      &-description {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.02em;
        color: #000000;
        opacity: 0.87;
        margin-bottom: 64px;
      }

      &-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.02em;
        color: #37825D;
        padding-left: 0;
        text-decoration: none;
        display: flex;
        align-items: center;
      }
    }
  }
}

.reviews_block {
  font-family: 'Manrope';
  font-style: normal;
  margin-bottom: 50px;
  border-radius: 15px;

  &_head {
    &-title {
      font-weight: 600;
      font-size: 26px;
      line-height: 36px;
      letter-spacing: -0.03em;
      color: #000000;
    }

    &-btn {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: end;
    }
  }

  &-card {
    position: relative;

    &_description {
      position: absolute;
      height: 100%;
      top: 0;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: rgba(0, 0, 0, 0.4);

      font-family: Inter;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.02em;
      color: #FFFFFF;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 30px;
      align-items: center;

      img {
        width: 44px;
        height: 44px;
        margin-bottom: 30px;
      }
    }
  }
}

.services {
  margin-bottom: 0 !important;
}

.service {
  font-family: 'Manrope';

  &-container {
  }

  &-content {
    &-info {
      margin-top: 67px;

      &-title {
        font-style: normal;
        font-weight: 600;
        font-size: 1.625rem;
        line-height: 46px;
        letter-spacing: -0.04875rem;
        color: #000000;
        margin-bottom: 40px;
      }

      &-description {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 160%;
        letter-spacing: -0.02rem;
        color: #000000;
        opacity: 0.87;
      }

      &-download {
        display: flex;
        justify-content: flex-end;
      }

      &_additional_info {
        margin-top: 52px !important;
        margin-bottom: 67px !important;

        background: #FFFFFF;
        border: 1px solid #BAC0CE;
        border-radius: 15px;

        &-item {
          border-right: 1px solid #BAC0CE;
          padding: 24px 30px 34px !important;

          &:last-child {
            border-right: 0;
          }

          &-label {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 33px;
            letter-spacing: -0.025rem;
            color: #000000;
            margin-bottom: 17px;
          }

          &-description {
            font-weight: 500;
            font-size: 1rem;
            line-height: 160%;
            letter-spacing: -0.02rem;
            color: #000000;
            opacity: 0.87;

            span {
              color: #000000;
            }
          }
        }
      }
    }

    &-data {
      &-total {
        position: fixed;
        z-index: 1;
        width: 100%;
        left: 0;
        bottom: 0;
        margin: 0;
        border-radius: 0;
        background: #011533;
        top: unset;
        padding: 16px 0;

        .container {
          align-items: center;
        }

        &-panel {
          display: flex;

          &-item {
            color: #FFFFFF;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: -0.02em;
            display: flex;
            margin-right: 45px;

            &-title {
              opacity: 0.87;
              margin-right: 7px;
            }

            &-description {
              font-weight: 700;
            }

            &-icon {
              display: none;
            }
          }
        }

        &-btn {
          display: flex;
          justify-content: end;
          align-items: center;

          .btn {
            margin-bottom: 0 !important;
            margin-right: 15px;
            font-size: 14px;
          }
        }
      }

      &-list {
        &-head {
          font-weight: 600;
          font-size: 26px;
          line-height: 40px;
          letter-spacing: -0.78px;
          margin-bottom: 50px;
          margin-top: 60px;
        }

        &-item {
          background: #F5F6F8;
          border-radius: 15px;
          padding: 30px 20px 30px 30px;
          border: 1px solid #F5F6F8;

          &:hover {
            border: 1px solid #BAC0CE;
          }

          &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: -0.32px;
            color: #000000;

            &-main-info {
              display: flex;
              width: 100%;

              & label {
                flex: 6;
              }
            }

            &-point {
              margin-right: 3.19rem;
              margin-left: 1rem;
              align-self: center;

              color: #000;
              font-size: 1rem;
              font-weight: 600;
              line-height: 160%;
              letter-spacing: -0.02rem;
            }

            &-link {
              height: 36px;
              width: 36px;
              background: #FFFFFF;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;

              & .services__window_title-icon {
                color: #37825D;
              }
            }
          }

          &-list {
            margin-top: 30px;
            margin-left: 70px;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.02em;
            color: #000000;

            & .container_checkbox {
              font-size: 16px;
              font-weight: 500;
              line-height: 150%;
              letter-spacing: -0.32px;
            }
          }

          & .container_checkbox {
            &:hover {
              & input:checked ~ .checkmark {
                &:after {
                  left: 7px;
                  top: 3px;
                }
              }

              & .checkmark_incomplete {
                &:after {
                  left: 5px;
                  top: 5px;
                }
              }

              .checkmark {
                border: 2px solid #37825D;
              }
            }
          }

          & .services__window-strip {
            max-width: 100% !important;
            margin-top: 22px;
            margin-bottom: 18px;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            background: #FFFFFF;
            border: 1px solid #BAC0CE;
            border-radius: 3px;

            &:hover {
              border: 2px solid #37825D;
            }
          }

          & input:checked ~ .checkmark {
            &:hover {
              &:after {
                left: 7px;
                top: 3px;
              }
            }

            &:after {
              left: 8px;
              top: 4px;
              width: 7px;
              height: 13px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }

          & .checkmark_incomplete {
            &:hover {
              &:after {
                left: 5px;
                top: 5px;
              }
            }

            &:after {
              display: block;
              content: "";
              position: absolute;
              left: 6px;
              top: 6px;
              width: 10px;
              height: 10px;
              justify-content: center;
              align-content: end;
              border-radius: 2px;
              opacity: 0.5;
              background: #37825D;
            }
          }
        }
      }

      &-instructions {
        margin-top: 87px;

        &-head {
          font-weight: 600;
          font-size: 1.625rem;
          line-height: 46px;
          letter-spacing: -0.04875rem;
          color: #000000;
          margin-bottom: 64px;

          &-btn {

          }
        }

        &-item {
          background: #F5F6F8;
          border-radius: 15px;
          margin-bottom: 15px;
          padding: 22px 28px !important;

          &-head {
            display: flex;
            justify-content: space-between;

            &-group {
              display: flex;
            }

            &-no {
              height: 36px;
              width: 36px;
              background: #37825D;
              color: #ffffff;
              border-radius: 50%;
              font-weight: 600;
              font-size: 0.9375rem;
              line-height: 20px;
              text-align: center;
              letter-spacing: -0.01875rem;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-left: 15px;
              padding-right: 15px;
            }

            &-description {
              font-weight: 500;
              font-size: 1rem;
              line-height: 150%;
              letter-spacing: -0.02em;
              color: #000000;
              margin-left: 45px;
              margin-right: 45px;
            }

            &-arrow {
              height: 36px;
              width: 36px;
              background: #ffffff;
              color: #37825D;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-left: 5px;
              padding-right: 5px;
            }
          }
        }
      }

      &-our-service-list {
        margin-top: 3.75rem;

        &-head {
          font-weight: 600;
          font-size: 1.625rem;
          line-height: 46px;
          letter-spacing: -0.04875rem;
          color: #000000;
          margin-bottom: 2.5rem;
        }

        &-list {
          &-item {
            background: #FFFFFF;
            border: 1px solid #BAC0CE;
            border-radius: 15px;

            padding: 2.44rem 2.5rem 2.81rem;

            height: 100%;

            &-icon {
              height: 4.375rem;
              width: 4.375rem;
              border-radius: 50%;
              background: #F5F6F8;
              display: flex;
              justify-content: center;
              align-items: center;

              margin-bottom: 1.69rem;

              img {
                height: fit-content;
                width: fit-content;
              }
            }

            &-description {
              font-weight: 600;
              font-size: 1.25rem;
              letter-spacing: -0.025rem;
              color: #000;
            }
          }
        }
      }

      &-popular-services {
        margin-top: 67px;

        &-head {
          margin-bottom: 50px;

          &-title {
            font-weight: 600;
            font-size: 1.625rem;
            line-height: 40px;
            letter-spacing: -0.04875rem;
            color: #000000;
          }

          &-btn {
            float: right;
          }
        }

        &-list {
          &-item {
            background: #FFFFFF;
            border: 1px solid #BAC0CE;
            border-radius: 15px;
            padding: 2.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &-icon {
              height: 4.375rem;
              width: 4.375rem;
              border-radius: 50%;
              background: #F5F6F8;
              display: flex;
              justify-content: center;
              align-items: center;

              margin-bottom: 1.75rem;

              img {
                height: fit-content;
                width: fit-content;
              }
            }

            &-content {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              &-description {
                font-weight: 400;
                font-size: 1rem;
                line-height: 140%;
                letter-spacing: -0.02rem;
                color: #000000;
                opacity: 0.87;
                margin-bottom: 13px;
              }

              &-cost {
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 33px;
                /* identical to box height */

                letter-spacing: -0.02rem;

                color: #000000;
                margin-bottom: 2.44rem;
              }

              &-btn {
              }
            }
          }
        }
      }

      &-turnkey-solution {
        background: #021632;
        color: white;
        margin-top: 3.75rem;
        margin-left: -32px;
        margin-right: -32px;
        padding: 5rem 6.87rem;

        &-total {
          color: #FFFFFF;

          &-item {
            margin-bottom: 58px;

            &-title {
              font-style: normal;
              font-weight: 600;
              font-size: 1.25rem;
              line-height: 33px;
              letter-spacing: -0.05rem;
              color: #FFF;
            }

            &-desc {
              font-style: normal;
              font-weight: 600;
              font-size: 2.5rem;
              line-height: 68px;
              letter-spacing: -0.1rem;
            }
          }

          &-btn {
            display: flex;
            justify-content: space-between;
            padding-right: 105px;

            .btn {
              padding: 15px 47px;
            }
          }
        }

        &-info {
          background: #FFFFFF;
          border-radius: 15px;
          padding: 50px;

          &-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 65px;

            &-icon {
              width: 70px;
              height: 70px;
              background: #F5F6F8;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          &-title {
            font-weight: 600;
            font-size: 1.625rem;
            line-height: 130%;
            letter-spacing: -0.04875rem;
            color: #000000;
            margin-bottom: 46px;
          }

          &-description {
            border: 1px solid #BAC0CE;
            border-radius: 15px;
            display: flex;

            &-item {
              padding: 24px 33px;
              border-right: 1px solid #BAC0CE;
              flex: 50%;

              &:last-child {
                border-right: 0;
              }

              &-label {
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 27px;
                letter-spacing: -0.025rem;
                color: #000000;
                opacity: 0.6;
              }

              &-data {
                font-weight: 600;
                font-size: 1.375rem;
                line-height: 36px;
                letter-spacing: -0.055rem;
                color: #000000;
              }
            }
          }
        }
      }
    }
  }
}

.btn {
  text-transform: none;

  &-white {
    background-color: #ffffff !important;
    color: #021632;
  }

  &-outline {
    &-white {
      border-color: #FFFFFF !important;
      color: #FFFFFF !important;
    }
  }
}

.extra-service {
  &-additional-info {
    border-radius: 0.9375rem;
    border: 1px solid #BAC0CE;
    background: #FFF;

    &-item {
      border-right: 1px solid #BAC0CE;
      padding: 24px 30px 34px !important;

      &:last-child {
        border-right: none;
      }

      &-label {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.025rem;
        margin-bottom: 17px;
      }

      &-description {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: -0.02rem;
        color: #000000;
        opacity: 0.87;
      }
    }
  }

  &-question {
    margin-top: 3.13rem;

    &-title {
      color: #000;
      font-size: 1.625rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.04875rem;
      margin-bottom: 2.5rem;
    }

    &-panel {
      border-radius: 0.9375rem;
      background: #F5F6F8;
      padding: 1.88rem 1.94rem;
      display: none;

      &_active {
        display: block;
      }

      &-cnt {
        color: #000;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 1.4rem */
        letter-spacing: -0.02rem;
        opacity: 0.87;
        margin-bottom: 1.19rem;

        span {
          font-weight: 500;
          opacity: 0.5;
        }
      }

      &-title {
        color: #000;
        font-size: 1.625rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.04875rem;
        margin-bottom: 1.44rem;
      }

      &-list {
        margin-bottom: 2.37rem;

        .form-check {
          margin-bottom: 0.88rem;
        }
      }
    }

    &-result-info {
      display: flex;
      flex-direction: row;
      border-radius: 0.9375rem;
      border: 1px solid #BAC0CE;
      background: #F5F6F8;
      flex-wrap: wrap;

      &-item {
        border-left: 1px solid #BAC0CE;
        border-bottom: 1px solid #BAC0CE;
        padding: 24px 30px 24px !important;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 20%;

        &:first-child {
          border-left: none;
        }

        &:nth-child(6n) {
          border-left: none;
        }

        &:last-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &-label {
          color: #000;
          font-size: 0.875rem;
          font-style: normal;
          font-weight: 500;
          line-height: 140%; /* 1.225rem */
          letter-spacing: -0.0175rem;
          margin-bottom: 0.44rem;
        }

        &-description {
          color: #000;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.02rem;
        }
      }
    }
  }

  &-step {
    &-list {
      margin-top: 3rem;
    }

    &-item {
      padding: 1.88rem;
      border-radius: 0.9375rem;
      border: 1px solid #BAC0CE;
      background: #F5F6F8;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      &-header {
        margin-bottom: 1.56rem;
        display: flex;
        justify-content: space-between;

        &-info {
          display: flex;
          align-items: center;
        }

        &-title {
          color: #000;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.03rem;

        }

        &-day {
          color: #000;
          font-size: 1rem;
          font-style: normal;
          font-weight: 600;
          line-height: 160%; /* 1.6rem */
          letter-spacing: -0.02rem;

          margin-right: 1.69rem;
        }

        &-collapse {
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 50%;
          background-color: #FFFFFF;
          margin-right: 1.69rem;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #37825D;
        }
      }

      &-step-list{
        margin-top: 1.88rem;
        &.close{
          display: none;
        }
        &-item{
          border-radius: 0.9375rem;
          background: #FFF;
          padding: 1.06rem 1.56rem 1.56rem;
          margin-bottom: 0.94rem;
          &:last-child{
            margin-bottom: 0;
          }

          &-header{
            display: flex;
            justify-content: space-between;

            &-info{
              display: flex;
            }

            &_no{
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              background-color: #37825D;
              color: #FFFFFF;

              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-size: 0.9375rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -0.01875rem;

              margin-right: 1.19rem;
            }
            &-title{
              display: flex;
              flex-direction: column;

              &-val{
                color: #000;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.02rem;
                margin-bottom: 0.25rem;
              }
              &-collapse{
                color: #37825D;
                font-size: 0.8125rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.01625rem;
                cursor: pointer;
              }
            }
            &-day{
              color: #000;
              font-size: 1rem;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -0.02rem;
            }
          }
          &-body{
            &.close{
              display: none;
            }
            &-item{
              margin-top: 1.28rem;
              &-header{
                color: #000;
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -0.0225rem;
                margin-bottom: .25rem;
              }
              &-data{
                color: #000;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 150%; /* 1.5rem */
                letter-spacing: -0.02rem;
              }
            }
          }
        }
      }

      .form-check{
        padding-left: 0;
      }

      input[type=checkbox] + label:before {
        height: 22px;
        width: 22px;
        margin-right: 15px;
        content: " ";
        display: inline-block;
        vertical-align: text-top;
        border: 0;
        background: white;
        border-radius: 5px;
      }

      input[type=checkbox]:checked + label:before {
        background-color: #37825D;
        border-color: #37825D;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e")
      }
    }
  }

  &-action {
    margin-top: 3.13rem;

    &-panel {
      border-radius: 0.9375rem;
      border: 1px solid #BAC0CE;
      background: #FFF;
      padding: 2.12rem 2.5rem 2.5rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: #000000;

      &.dark{
        background: #021632;
        color: #FFF;
      }

      &-title {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.875rem; /* 125% */
        letter-spacing: -0.03rem;
        margin-bottom: 1.63rem;
      }

      &-description{
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 500;
        line-height: 140%; /* 1.575rem */
        letter-spacing: -0.0225rem;
        margin-bottom: 1.75rem;
      }

      &-btn{
        margin-top: 1.13rem ;
      }

      &-subtitle1{
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.045rem;
        margin-bottom: 1.12rem;
      }

      &-subtitle{
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.01875rem;
        margin-bottom: 0.38rem;
      }
      &-sub_description{
        font-family: Manrope;
        font-size: 2.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.085rem;
        margin-bottom: 0.75rem;
      }
    }
  }
}


.border-bottom-0 {
  border-bottom: 0 !important;
}

@media (max-width: 767.9px) {
  #app {
    padding-top: 80px;
  }


  .documents .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .documents__window {
    &_layout {
      &_info {
        margin-top: 1.56rem;
        margin-bottom: 1.56rem;
      }

      &_access {
        margin-bottom: 1.5rem;
      }

      &_useful {
        margin-bottom: 1.5rem;
      }
    }

    &_title {
      &-head {
        font-weight: 600;
        font-size: 1.3125rem;
        letter-spacing: -0.03938rem;
        text-align: left;
        margin-bottom: 0.68rem;
        line-height: normal;
      }

      &-description {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 140%;
        margin-bottom: 0;
      }

      &-access {
        font-weight: 600;
        font-size: 0.9375rem;
        line-height: 120%;
        text-align: left;
        letter-spacing: -0.02813rem;
      }

      &-card_head {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
      }
    }

    &_cards {
      & .card-layout {
        height: 100%;
        padding-bottom: 8px;
      }

      & .card {
        padding: 20px 20px 30px !important;
      }

      & .card-container {
        padding: 0.62rem 0.94rem 0.94rem;

        &__active {

          & .documents__window_category_number {

          }

          & .documents__window_category_layout {

          }
        }
      }
    }

    &_category {

      &_number {
        font-weight: 600;
        font-size: 0.6875rem;
        letter-spacing: -0.01375rem;

        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 0;
      }

      &_layout {
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 120%;
        letter-spacing: -0.01625rem;

        color: #000000;
      }
    }

    &_useful {
      padding: 0 !important;

      &_item {
        padding: 15px 20px 20px !important;

        &-title {
          font-weight: 600;
          font-size: 15px;
          line-height: 20px;
        }

        &-description {
          font-weight: 500;
          font-size: 12px;
          line-height: 130%;
          margin-bottom: 24px;
        }

        &-link {
          font-weight: 500;
          font-size: 12px;
          line-height: 140%;
        }
      }
    }
  }

  .reviews_block {
    margin-bottom: 34px;

    &_head {
      &-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
      }

      &-btn {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        align-items: end;
      }
    }

    &-card {
      margin-bottom: 20px;

      &_description {

        img {
        }
      }
    }
  }

  .service {

    &-container {
    }

    &-content {
      &-info {
        margin-top: 30px;

        &-title {
          font-weight: 600;
          font-size: 18px;
          line-height: 120%;
          letter-spacing: -0.03em;
          margin-bottom: 20px;
        }

        &-description {
          font-weight: 500;
          font-size: 12px;
          line-height: 140%;
          letter-spacing: -0.02em;
        }

        &-download {
          margin-top: 15px;
        }

        &_additional_info {
          margin-top: 1.25rem !important;
          margin-bottom: 1.5rem !important;

          & .row {
            margin: 0 !important;
          }

          &-item {
            border-bottom: 1px solid #BAC0CE;
            border-right: 0;
            padding: 0.94rem 1.25rem !important;

            &:last-child {
              border-bottom: 0;
            }

            &-label {
              font-size: 0.8125rem;
              letter-spacing: -0.01625rem;
              margin-bottom: 0.44rem;
            }

            &-description {
              font-size: 0.75rem;
              line-height: 140%;
              letter-spacing: -0.015rem;

              span {

              }
            }
          }
        }
      }

      &-data {
        &-total {
          padding-top: 13px;

          .container {

          }

          &-panel {
            justify-content: space-between;

            margin-bottom: 15px;

            &-item {
              margin-right: 0;

              &-title {
                display: none;
              }

              &-description {
                font-weight: 700;
                font-size: 0.6875rem;
                line-height: 140%;
                letter-spacing: -0.01375rem;

                & .cnt {
                  font-weight: 500;
                  font-size: 11px;
                  line-height: 140%;
                  letter-spacing: -0.02em;
                }
              }

              &-icon {
                display: flex;
                height: 16px;
                width: 16px;
                margin-right: 10px;
              }
            }
          }

          &-btn {
            justify-content: space-between;
            margin-bottom: 16px;

            .btn {
              width: 50%;
              margin-right: 10px;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }

        &-list {
          &-head {
            font-style: normal;
            font-weight: 600;
            font-size: 0.9375rem;
            line-height: 120%;
            letter-spacing: -0.02813rem;
            margin-bottom: 1.19rem;
            margin-top: 0.81rem;
          }

          &-item {
            padding: 0.75rem;

            &-head {
              padding: 0 !important;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 130%;
              letter-spacing: -0.02em;
              align-items: start;

              &-main-info {
                flex-direction: column;
              }

              &-point {
                font-size: 0.625rem;
                letter-spacing: -0.0125rem;
                margin-right: 0;
                margin-left: 2.2rem;
                margin-top: 0.5rem;
                align-self: flex-start;
              }

              &-link {
                margin-left: 0.5rem;
                height: 22px;
                width: 22px;

                & .services__window_title-icon {
                  font-size: 12px;
                }
              }

              & .container_checkbox {
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: -0.015rem;
              }
            }

            &-list {
              margin-top: 1rem;
              margin-left: 1.4rem;

              font-weight: 500;
              font-size: 0.6875rem;
              line-height: 130%;
              letter-spacing: -0.01375rem;

              & .container_checkbox {
                font-size: 0.6875rem;
                font-weight: 500;
                line-height: 130%;
                letter-spacing: -0.01375rem;
              }
            }

            & .container_checkbox {
              &:hover {
                & input:checked ~ .checkmark {
                  &:after {
                    left: 5px;
                    top: 0;
                  }
                }
              }
            }

            & .services__window-strip {

            }

            .checkmark {
              height: 1.125rem;
              width: 1.125rem;
            }

            & input:checked ~ .checkmark {
              &:hover {
                &:after {
                  left: 5px;
                  top: 0;
                }
              }

              &:after {
                left: 5px;
                top: 0;
              }
            }

            & .checkmark_incomplete {
              &:after {
                left: 3.5px;
                top: 3.5px;
                width: 9px;
                height: 9px;
              }
            }
          }
        }

        &-instructions {
          margin-top: 30px;
          margin-bottom: 25px;

          &-head {
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: -0.03em;
            margin-bottom: 1.12rem;

            &-btn {
              width: 100%;
              margin-bottom: 25px;
            }
          }

          &-item {
            padding: 12px 15px !important;

            &-head {

              &-group {

              }

              &-no {
                height: 22px;
                width: 22px;
                padding-left: 10px;
                padding-right: 10px;
              }

              &-description {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: -0.02em;

                margin-left: 11px;
                margin-right: 18px;
              }

              &-arrow {
                height: 22px;
                width: 22px;
                padding-left: 0;
                padding-right: 0;

                i {
                  font-size: 12px;
                }
              }
            }
          }

          &-description {
            margin-left: 40px;

            .documents__window_list {
              margin-top: 15px !important;
            }

            .documents__window_title-instruction_list {
              font-style: normal;
              font-weight: 500;
              font-size: 11px;
              line-height: 130%;
              letter-spacing: -0.02em;
            }

            .documents__window_title-instruction_header {
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 19px;
              letter-spacing: -0.02em;
            }
          }
        }

        &-our-service-list {
          margin-top: 30px;

          &-head {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: -0.03em;
            margin-bottom: 25px;
          }

          &-list {
            &-item {
              padding: 20px 15px;

              &-icon {
                height: 34px;
                width: 34px;
                margin-bottom: 11px;

                img {
                  height: 14.57px;
                  width: 14.57px;
                }
              }

              &-description {
                font-style: normal;
                font-weight: 700;
                font-size: 11px;
                line-height: 120%;
                letter-spacing: -0.02em;
                opacity: 0.87;
              }
            }
          }
        }

        &-popular-services {
          margin-top: 30px;

          &-head {
            margin-bottom: 25px;

            &-title {
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 120%;
              letter-spacing: -0.03em;
            }

            &-btn {

            }
          }

          &-list {
            &-item {
              padding: 10px;

              &-icon {
                width: 34px;
                height: 34px;

                margin-bottom: 11px;

                img {
                  height: 14.57px;
                  width: 14.57px;
                }
              }

              &-content {

                &-description {
                  font-style: normal;
                  font-weight: 400;
                  font-size: 12px;
                  line-height: 120%;
                  /* or 14px */

                  letter-spacing: -0.02em;
                  margin-bottom: 9px;
                }

                &-cost {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 19px;
                  letter-spacing: -0.02em;
                  margin-bottom: 15px;
                }

                &-btn {
                  font-size: 0.75rem;
                  font-weight: 600;
                  line-height: 140%;
                  letter-spacing: -0.015rem;
                  width: 100%;
                }
              }
            }
          }
        }

        &-turnkey-solution {
          margin-top: 2rem;
          margin-left: -20px;
          margin-right: -20px;

          padding: 1.62rem 0.62rem 0.62rem;

          &-total {
            padding-left: 0.63rem;
            padding-right: 0.63rem;

            &-item {
              margin-bottom: 0.88rem;

              &-title {
                font-style: normal;
                font-weight: 600;
                font-size: 0.75rem;
                line-height: 19px;
                letter-spacing: -0.015rem;

                &.cnt {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 0.8125rem;
                  line-height: 120%;
                  letter-spacing: -0.01625rem;
                  margin-bottom: 1.06rem;
                }
              }

              &-desc {
                font-style: normal;
                font-weight: 600;
                font-size: 0.75rem;
                line-height: 41px;
                letter-spacing: -0.015rem;
              }
            }

            &-btn {
              padding-right: 0;
              margin-bottom: 1.88rem;

              .btn {
                padding: 0.75rem 0.88rem;
              }
            }
          }

          &-info {
            padding: 10px;

            &-btn {
              margin-bottom: 27px;

              &-icon {
                width: 55px;
                height: 55px;
                padding-left: 12.5px;
                padding-right: 12.5px;
                margin-right: 15px;
              }
            }

            &-title {
              font-style: normal;
              font-weight: 600;
              font-size: 0.8125rem;
              line-height: 120%;
              letter-spacing: -0.02438rem;
              margin-bottom: 0;
            }

            &-description {
              margin-bottom: 20px;
              flex-direction: column;

              &-item {
                padding: 0.75rem 1rem 1rem;

                border-bottom: 1px solid #BAC0CE;
                border-right: 0;

                &:last-child {
                  border-bottom: 0
                }

                &-label {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 0.6875rem;
                  line-height: 19px;
                  letter-spacing: -0.01375rem;
                }

                &-data {
                  font-style: normal;
                  font-weight: 600;
                  font-size: 1.125rem;
                  line-height: 90%;
                  letter-spacing: -0.045rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .extra-service {
    &-additional-info {
      margin-top: 1.69rem;

      & .row{
        margin-right: 0;
        margin-left: 0;
      }

      &-item {
        padding: 1.06rem 1.25rem !important;

        border-bottom: 1px solid #BAC0CE;
        border-right: 0;

        &:last-child {
          border-bottom: 0;
        }

        &-label {
          color: #000;
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.01625rem;
        }

        &-description {
          color: #000;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 1.05rem */
          letter-spacing: -0.015rem;
        }
      }
    }

    &-question {
      margin-top: 1.56rem;
      margin-bottom: 1.31rem;

      &-title {
        color: #000;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 1.125rem */
        letter-spacing: -0.02813rem;
      }

      &-panel {
        padding: 0.81rem 0.62rem 0.62rem 1.06rem;

        &_active {

        }

        &-cnt {
          color: #000;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 0.975rem */
          letter-spacing: -0.015rem;
          margin-bottom: 0.37rem;

          span {
            opacity: 0.5;
          }
        }

        &-title {
          color: #000;
          font-size: 0.9375rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.01875rem;
        }

        &-list {
          margin-bottom: 1rem;

          .form-check {
              padding-left: 0;

            color: #000;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 0.975rem */
            letter-spacing: -0.015rem;
          }
        }

        &-action{
          display: flex;
          justify-content: flex-end;

          .btn{
            color: #FFF;
            text-align: center;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 1.225rem */
            letter-spacing: -0.0175rem;

            width: 50%;
            margin-right: 1rem;

            &:last-child{
              margin-right: 0;
            }
          }
        }
      }

      &-result-info {
        flex-direction: column;

        &-item {
          padding: 1.23rem 1rem !important;
          border-top: 1px solid #BAC0CE;
          border-left: 0;
          border-bottom: 0 !important;

          &:first-child {
            border-top: 0
          }

          &:nth-child(6n) {

          }

          &:last-child {

          }

          &-label {
            color: #000;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 130%; /* 0.975rem */
            letter-spacing: -0.015rem;
          }

          &-description {
            color: #000;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.01625rem;
          }
        }
      }
    }

    &-step {
      &-list {

      }

      &-item {
        padding: 0.31rem;
        margin-bottom: 0.5rem;

        &:last-child {

        }

        &-header {
          padding-left: 0.62rem;
          padding-right: 0.62rem;
          padding-top: 0.68rem;


          &-info {

          }

          &-title {
            color: #000;
            font-size: 0.8125rem;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 0.975rem */
            letter-spacing: -0.02438rem;

            span{
              color: #000;
              font-size: 0.625rem;
              font-style: normal;
              font-weight: 600;
              line-height: 160%; /* 1rem */
              letter-spacing: -0.0125rem;
              opacity: 0.6;
            }
          }

          &-day {

          }

          &-collapse {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.81rem;
          }

          &-selector{
            .form-check-label{
              &:before{
                margin-right: 0 !important;
              }
            }
          }
        }

        &-step-list{
          margin-top: 0.81rem;

          &.close{

          }

          &-item{
            padding: 0.63rem;

            &:last-child{

            }

            &-header{


              &-info{
                flex: 1 1 0;
                margin-right: 1rem;
              }

              &_no{
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.81rem;
                flex: 1 1 0;
              }

              &-title{
                flex: 10 1 0;

                &-val{
                  color: #000;
                  font-size: 0.75rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 130%; /* 0.975rem */
                  letter-spacing: -0.015rem;
                }

                &-collapse{
                  color: #37825D;
                  font-size: 0.625rem;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  letter-spacing: -0.0125rem;
                }
              }
              &-day{
                color: #000;
                text-align: right;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 600;
                line-height: 160%; /* 1.2rem */
                letter-spacing: -0.015rem;
                opacity: 0.6;
              }
            }
            &-body{
              &.close{

              }
              &-item{
                margin-top: 0.81rem;
                &-header{
                  color: #000;
                  font-size: 0.8125rem;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 120%; /* 0.975rem */
                  letter-spacing: -0.02438rem;
                }
                &-data{
                  color: #000;
                  font-family: Manrope;
                  font-size: 0.6875rem;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 130%; /* 0.89375rem */
                  letter-spacing: -0.01375rem;
                }
              }
            }
          }
        }

        .form-check{

        }

        input[type=checkbox] + label:before {

        }

        input[type=checkbox]:checked + label:before {

        }
      }
    }

    &-action {


      &-panel {
        padding: 0.62rem;
        & > div{
          &:first-child {
            padding-top: 0.32rem;
            padding-left: 0.63rem;
            padding-right: 0.63rem;
          }
        }

        &.dark{

        }

        &-title {
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.01625rem;
          margin-bottom: 0.63rem;
        }

        &-description{
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 500;
          line-height: 130%; /* 0.975rem */
          letter-spacing: -0.015rem;
          margin-bottom: 1.31rem;
        }

        &-btn{

        }

        &-subtitle1{
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 0.975rem */
          letter-spacing: -0.01625rem;
        }

        &-subtitle{
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.015rem;
        }
        &-sub_description{
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.06rem;
        }
      }
    }
  }
}

@media (max-width: 1266.9px) {
  #app {
    padding-top: 80px;
  }
}
